@font-face {
  font-family: 'Bold';
  src: url('../fonts/ChakraPetch-Bold.ttf');
}

@font-face {
  font-family: 'Bold-Italic';
  src: url('../fonts/ChakraPetch-Italic.ttf');
}

@font-face {
  font-family: 'Bold-light';
  src: url('../fonts/ChakraPetch-Light.ttf');
}

.bold {
  font-family: 'Bold' !important;
  color: #0ff !important;
  text-shadow: 0px 0px 10px #0ff !important;
}

.italic {
  font-family: 'Bold-Italic' !important;
  color: #0ff !important;
  text-shadow: 0px 0px 10px #0ff !important;
}

.light {
  font-family: 'Bold-Light' !important;
  color: #0ff !important;
  text-shadow: 0px 0px 10px #0ff !important;
}

a {
  text-decoration: none;
  color: white;
}

.btn-me{
  text-align: center;
    display: block;
    width: 98px;
    color: #0ff;
    text-shadow: 0px 0px 10px #00f;
    border: 1px solid #191116;
    margin: 0px auto;
    background-color: #191116;
    border-radius: 5px;
    font-size: 18px;
}

.row{
  justify-content: center;
}

.hover{
  transition: all .5s;
}

.hover:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 30px #d70a84, 0px 0px 30px #51127f !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bold-light';
  background-color: #0d050a !important;
  overflow-x: hidden;
  text-transform: capitalize;
}

.nav {
  width: 100vw;
  color: #0ff !important;
  text-shadow: 0px 0px 10px #0ff !important;
  box-shadow: 0px 20px 20px rgba(255, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 255, 0.5);
}

.row-me {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.logo {
  transition: all .5s;
}

.links {
  color: #0ff !important;
  display: flex;
  flex-direction: row;
}

.opasity span {
  transition: all .5s;
}

.opasity:hover span {
  opacity: 0 !important;
}

.line-transparent {
  height: 100px;
  width: 100vw;
}

#About {
  min-height: 80vh;
}

.my-box {
  width: 473px;
  height: 473px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #231c20;
}

.last-name,
.last-name-2 {
  background: linear-gradient(45deg, #d70a84, #51127f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}

.last-name-2 {
  margin-top: -10px;
  font-family: "MyCustomFont-b";
  position: relative;
  z-index: 100 !important;
  color: white !important;
}

.text-center {
  margin-top: 100px !important;
  margin: auto;
  vertical-align: middle !important;
}

.btn-neon {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.3em;
  width: 40%;
  color: #0ff;
  background-color: transparent;
  border: 2px solid #0ff;
  border-radius: 8px;
  text-decoration: none;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  box-shadow: 0 0 10px #0ff, 0 0 20px #00f;
  transition: 0.3s ease;
  margin-inline-start: 20px;
  margin-top: 20px;
}

.btn-neon:hover {
  background-color: #0ff;
  color: #000;
  text-shadow: none;
  box-shadow: 0 0 30px #0ff, 0 0 60px #00f;
}

.coment {
  font-size: 18px;
  color: #40393d;
  font-family: "Bold";
  font-weight: 600 !important;
}

.my-line {
  background-color: #0d050a;
  width: 100vw;
  height: 100px;
  transform: rotate(2deg);
  box-shadow: 0px 20px 20px rgba(255, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 255, 0.5);
  position: relative;
  top: 15px;
}

#Services {
  min-height: 100vh;
  padding: 100px 10px;
}

.text-my {
  display: inline-block;
  font-family: "Bold-Light";
  font-size: 64px;
  font-weight: 900 !important;
  background: linear-gradient(45deg, #d70a84, #51127f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-Offered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  vertical-align: middle;
  width: 266px;
  height: 266px;
  background: linear-gradient(45deg, #d70a84, #51127f);
  border-radius: 10px;
}

.boxs-o-me{
  justify-content: center !important;
}

.end-text {
  font-family: "Bold-light";
  font-size: 64px;
  font-weight: 900 !important;
  text-align: end;
}

.my-line-2 {
  position: relative !important;
  top: -100px;
  background-color: #191116;
  width: 100vw;
  height: 100px;
  transform: rotate(358deg);
  box-shadow: 0px 20px 20px rgba(255, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 255, 0.5);
}

#Works{
  min-height: 50vh;
}

.my-site {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-site .background {
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
}

.my-site .background img {
  position: relative;
  margin: auto;
  top: 0;
  left: 25%;
  bottom: 0;
  right: 0;
  min-width: 50%;
  min-height: 50%;
  filter: blur(15px);
  -webkit-filter: blur(50px);
  transform: scale(1.1);
}

.my-site .container {
  background-color: #e7e7e7;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.my-site .container:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.my-site .player-img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.my-site .player-img img {
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.my-site .player-img:hover img {
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.my-site .player-img img.active {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 1;
}

.my-site h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0 0;
}

.my-site h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0 0;
}

.my-site .player-progress {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px 35px;
  height: 6px;
  width: 90%;
}

.my-site .progress {
  background-color: #212121;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.my-site .music-duration {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.my-site .player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.my-site .fa-solid {
  font-size: 30px;
  color: #666;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.my-site .fa-solid:hover {
  filter: brightness(40%);
}

.my-site .play-button {
  font-size: 44px;
  position: relative;
  top: 3px;
}

@media screen and (max-width:1200px) {
  .box-Offered {
    margin-top: 50px;
  }
  #ml-n{
    margin-left: calc(1.375rem + 2.5vw) !important;
  }
}

@media screen and (max-width:990px) {
  .left-me {
    float: left;
  }

  .row-me {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

}

@media screen and (max-width:767px) {
  .box1{
    margin-left: 0px !important;
  }
}

@media screen and (max-width:620px) {
  .md-fs-6 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width:500px) {
  .my-box {
    height: 80vw;
    width: 80vw;
  }

  .fs-1 {
    font-size: calc(1rem + .5vw) !important;
  }

  .text-center {
    margin-top: calc(1.375rem + 5.5vw) !important;
  }

  .btn-neon {
    width: 70%;
    margin-left: calc(1.375rem + 2.5vw);
    font-size: small;
  }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}