@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/ChakraPetch-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MyCustomFont-b";
    src: url("../fonts/ChakraPetch-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body::-webkit-scrollbar {
    width: 1em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #0ff;
    border-radius: 5px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .dis-none {
    display: none !important;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .hei-100 {
    min-height: 80vh;
  }
  
  .row {
    display: flex !important;
    flex-direction: row !important;
  }
  
  .my-l-color {
    color: #0ff !important;
    text-shadow: 0px 0px 10px #0ff !important;
  }
  
  body {
    background-color: #0d050a;
    text-transform: capitalize;
    overflow-x: hidden;
  }
  
  .navbar {
    box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.5),
      0px 10px 20px rgba(0, 0, 255, 0.5);
  }
  
  .nav,
  .navbar-nav {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  
  .dis-n {
    transition: all 0.5s;
  }
  
  .nav-link:hover .dis-n {
    color: transparent;
    text-shadow: none;
  }
  
  .about {
    margin-top: 140px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  
  .my-box {
    width: 473px;
    height: 473px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #231c20;
  }
  
  .first-name,
  .last-name,
  .last-name-2,
  nav,
  .fs-4 {
    color: white;
    font-family: "MyCustomFont";
    font-size: 40px;
    font-weight: 900;
  }
  
  .last-name,
  .last-name-2 {
    background: linear-gradient(45deg, #d70a84, #51127f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
  }
  
  .last-name-2 {
    margin-top: -10px;
    font-family: "MyCustomFont-b";
    position: relative;
    z-index: 100 !important;
    color: white !important;
  }
  
  .text-center {
    width: 100%;
    margin-top: 100px !important;
    margin: auto;
    vertical-align: middle !important;
  }
  
  .btns {
    width: 100%;
  }
  
  .btn-neon {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.3em;
    width: 40%;
    color: #0ff;
    background-color: transparent;
    border: 2px solid #0ff;
    border-radius: 8px;
    text-decoration: none;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #00f;
    transition: 0.3s ease;
    margin-inline-start: 20px;
    margin-top: 20px;
  }
  
  .btn-neon:hover {
    background-color: #0ff;
    color: #000;
    text-shadow: none;
    box-shadow: 0 0 30px #0ff, 0 0 60px #00f;
  }
  
  .m-box {
    width: 62px;
    height: 69.43px;
  }
  
  #ht,
  #ht2 {
    text-transform: lowercase;
  }
  
  .my-mt {
    margin-top: 163px;
  }
  
  .mt-300 {
    position: relative;
    top: 200px;
    padding-top: 200px !important;
    padding-bottom: 200px !important;
    margin-bottom: 100px;
  }
  
  #Services,
  #Skills {
    background-color: #191116;
  }
  
  #Services-text,
  #works-text,
  #Skills-text,
  #Contact-text {
    display: inline-block;
    font-family: "MyCustomFont";
    font-size: 64px;
    font-weight: 900 !important;
    background: linear-gradient(45deg, #d70a84, #51127f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #ServicesEnd-text,
  #worksEnd-text,
  #SkillsEnd-text,
  #eContact-text {
    font-family: "MyCustomFont";
    font-size: 64px;
    font-weight: 900 !important;
    text-align: end;
  }
  
  .left-me {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
  }
  
  .coment {
    font-size: 18px;
    color: #40393d;
    font-family: "MyCustomFont";
    font-weight: 600 !important;
  }
  
  .boxs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .boxs-n-990 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .boxs-w-990 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .boxs-w-990 .box-w-990 {
    display: flex;
    padding: 10px;
    vertical-align: middle;
    width: 266px;
    height: 266px;
    background: linear-gradient(45deg, #d70a84, #51127f);
    border-radius: 10px;
  }
  
  .boxs .box {
    display: flex;
    padding: 10px;
    vertical-align: middle;
    width: 266px;
    height: 266px;
    background: linear-gradient(45deg, #d70a84, #51127f);
    border-radius: 10px;
  }
  
  .boxs-n-990 .box-n-990 {
    display: flex;
    padding: 10px;
    vertical-align: middle;
    width: 266px;
    height: 266px;
    background: linear-gradient(45deg, #d70a84, #51127f);
    border-radius: 10px;
  }
  
  .boxs .box1 {
    padding: 30px;
    background-color: #231c20;
    width: 266px;
    height: 266px;
    box-shadow: 0px 0px 20px #d70a84, 0px 0px 20px #51127f;
    border-radius: 10px;
  }
  
  .container-me1 {
    padding: 50px;
  }
  
  .my-line,
  .my-line-3 {
    background-color: #0d050a;
    width: 100vw;
    height: 100px;
    transform: rotate(2deg);
    box-shadow: 0px 20px 20px rgba(255, 0, 0, 0.5),
      0px 20px 20px rgba(0, 0, 255, 0.5);
  }
  
  .my-line-3 {
    position: relative;
    top: 200px;
    z-index: 100;
  }
  
  .btn-me {
    text-align: center;
    display: block;
    width: 98px;
    color: #0ff;
    text-shadow: 0px 0px 10px #00f;
    border: 1px solid #191116;
    margin: 0px auto;
    background-color: #191116;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .hei-2 {
    min-height: 150vh !important;
  }
  
  .my-line-2 {
    position: relative !important;
    top: -40px;
    background-color: #191116;
    width: 100vw;
    height: 200px;
    transform: rotate(358deg);
    box-shadow: 0px 20px 20px rgba(255, 0, 0, 0.5),
      0px 20px 20px rgba(0, 0, 255, 0.5);
  }
  
  .works {
    top: 50px;
    background-color: #0d050a;
    min-height: 100vh;
    position: relative;
  }
  
  .skills-boxs {
    display: flex;
    flex-direction: row;
  }
  
  .skills-box {
    display: flex;
    flex-direction: row;
  }
  
  .skills-box .text-center {
    margin-top: 70px !important;
  }
  
  .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .skill {
    width: 190px;
    height: 190px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 15px #ff00ff;
    border: 2px solid #ff00ff;
    position: relative;
    transition: 0.3s;
  }
  
  .skill:hover {
    box-shadow: 0 0 25px #ff00ff, 0 0 50px #ff00ff;
    transform: scale(1);
  }
  
  .skill::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgba(255, 0, 255, 0.2);
    z-index: -1;
    transition: 0.3s;
  }
  
  .skill:hover::before {
    transform: scale(1.2);
  }
  
  .bottom-left-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);
  }
  
  .skill-box {
    display: flex;
    background-color: #252525;
    border-radius: 50% !important;
    align-items: center;
    vertical-align: middle;
    margin-left: 30px;
    border: 10px solid #d70a84;
    position: relative;
  }
  
  .p-a {
    position: absolute;
    color: white !important;
    z-index: 100 !important;
    left: -501px;
    top: 345px;
  }
  
  .p-a:nth-child(3) {
    position: absolute;
    color: white !important;
    z-index: 100 !important;
    left: 70px;
    top: 345px;
  }
  
  .p-a:nth-child(4) {
    position: absolute;
    color: white !important;
    z-index: 100 !important;
    left: -210px;
    top: 345px;
  }
  
  .p-a:nth-child(5) {
    position: absolute;
    color: white !important;
    z-index: 100 !important;
    left: 370px;
    top: 345px;
  }
  
  .hover {
    transition: all 0.5s;
  }
  
  .hover:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 30px #d70a84, 0px 0px 30px #51127f;
  }
  
  footer {
    position: relative;
    top: 200px;
  }
  
  @media screen and (max-width: 1200px) {
    .boxs-n-990,
    .box-n-990 {
      display: none !important;
    }
  
    .only-row {
      display: flex;
      flex-direction: row;
    }
  
    .boxs-w-990 {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
    }
  
    .box-w-990 {
      margin: 5px;
    }
  
    .hei-2 {
      height: 180vh !important;
    }
  }
  
  @media screen and (max-width: 990px) {
    .about {
      display: flex;
      flex-direction: column !important;
    }
  
    .left-me {
      position: absolute !important;
      top: 35px !important;
      left: 60% !important;
    }
  
    .center-myBox {
      width: 100%;
      margin-top: 100px !important;
      margin: auto;
      vertical-align: middle !important;
      margin-left: 10px;
    }
  
    .boxs-me1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .boxs-me1 .box1 {
      margin-top: 20px;
    }
  
    #Services {
      height: 210vh !important;
    }
  
    .box-me .boxs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .box-me .boxs .card {
      margin-top: 20px;
    }
  
    .hei-2 {
      min-height: 240vh !important;
    }
  }